%h1 iPhone Typos

%p{:style => "color: green"}= flash[:notice]

-# = link_to 'Add a Typo', new_typo_path
-# remote_form_for(@new_typo) do |f|
- form_for(@new_typo) do |f|
  = render :partial => 'form', :locals => {:f => f}
%hr/

- @typos.each do |typo|
  .typo[typo]
    .content= simple_format(typo.html)
    -# .rating 
    -#   -# %span.label Avg. rating:
    -#   %span.value= typo.average_rating_round
    -#   %span.divider= "&nbsp;|&nbsp;"
    -#   %span.label Rate it:
    -#   %span.rating_links
    -#     - 1.upto(4) do |rating|
    -#       = link_to rating, :action => "rate", :id => typo, :rating => rating
          
        -# = link_to_remote (rating,  :url => { :action => "rate", :id => typo, :rating => rating })
      
  %hr/

