%h1 iPhone Typos

- @typos.each do |typo|
  .typo[typo]
    .rating 
      %span Avg. rating:
      %span.value= typo.average_rating_round 
    .content= simple_format(typo.html)
    .rate_it 
      %span Rate it:
      - 1.upto(4) do |rating|
        = link_to rating, :action => "rate", :id => typo, :rating => rating
  %hr/

= link_to 'New typo', new_typo_path